
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 150
        repeat-rate 40
        numlock
    }

    touchpad {
      off
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
  gaps 8
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.45; }
    focus-ring {
      on
      width 4
      active-color "#eab676"
      inactive-color "#282828"
      urgent-color "#9b0000"
    }
    border { off; }
    struts {}
}

output "LG Electronics MP59G 0x01010101" {
  mode "1920x1080"
  scale 1
  background-color "#282828"
}


output "Xiaomi Corporation Mi Monitor 5790010008157" {
  mode "1920x1080@180.00"
  scale 1
  background-color "#282828"

  position x=-1920 y=0
}

output "Dell Inc. DELL S2421HS F5P2BP3" {
  mode "1920x1080@74.973"
  scale 1

}



cursor {}
animations {}
