spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-sh-at-startup "copyq --start-server"
spawn-at-startup "vicinae" "server"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
